# Defaults for editor applications
#
# https://EditorConfig.org

# Top-most EditorConfig file
root = true

# Unix-style newlines with a newline ending every file
[*]
end_of_line = lf
insert_final_newline = true

# Set default charset
[*.{makefile,py,tf}]
charset = utf-8

# Use 4 spaces for indentation
[*.py]
indent_style = space
indent_size = 4

# Makefiles require tab indentation
[Makefile]
indent_style = tab

[*.makefile]
indent_style = tab
